.hero{
    width: 100vw;
    height: 62vw;
}   

.title{
    overflow: hidden;

    margin-top: 3.75vw;

    font-size: 13.03vw;
    color: var(--color-yellow);
    text-transform: uppercase;

    & span{
        display: block;
        transform: translateY(20vw);
    }

}

.figure{
    opacity: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
    width: 0%;
    height: 29.17vw;

    border-radius: 1.15vw;

    
}

.image {
    position: relative;
    top: -16%;

    height: calc(100% + 16%);
    width: 100%;

    object-fit: cover;
}

.paragraphs{
    /* display: flex; */
    /* align-items: end; */
    /* justify-content: space-between; */

    width: 100%;
    margin-bottom: 0.5vw;

    font-weight: 400;
    /* padding-inline: 2vw; */
    opacity: 0;
}

.innerText{
    /* font-size: 1.04vw; */
    line-height: 1.4;

}

.right {}

.innerText.right {
    float: right;
    vertical-align: bottom;
}

.card{
    position: relative;

    display: flex;
    gap: 7vw;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 11vw;

    background-color: var(--color-yellow-light);
    box-shadow: 0 10px 20px rgba(0,0,0,0.23);

    z-index: 1;
}
.contentCard{
    display: flex;
    align-items: center;
    gap: 4vw;
    color: #553507;
}

.icon {
    height: 7.1vh;
}

.amount{
    font-size: 2.38vw;
    text-align: right;
    font-weight: 400;
}

.breefInfo{
    font-size: 1.04vw;
    text-align: right;
    float: right;

}

.backgroundCard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    contain: paint;

    z-index: -1;
}