.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  max-width: 100em;
  width: 80vw;
  aspect-ratio: 16 / 9;

  box-shadow:  0 0 0 100vmax rgba(0, 0, 0, 0.6);
  border-radius: var(--border-size);
  border: none;

  transform: translate(-50%, -50%);
  z-index: 999;
}

.video {
  padding: 1rem;
  width: 100%;
  height: 100%

}

.close {
  position: absolute;
  top: 0;
  right: 0;

  /* width: 24px; */
  /* height: 24px; */
  padding: 1rem;
  aspect-ratio: 1 / 1;

  color: var(--color-brown);
  font-size: 2rem;

  border-top-right-radius: var(--border-size);
  background: transparent;

  border: none;

  cursor: pointer;
}

@media (orientation: portrait) {
  .modal {
    width: calc(100vw - 2 * var(--container-padding));
  }
}