.header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;

  transition: transform 850ms var(--animation-fast);
  z-index: 998;
}

body[data-scroll-direction="up"] .header {
  transform: translateY(0px);
}

body[data-scroll-direction="down"] .header {
  transform: translateY(calc(-1 * var(--header-top-height)));
}

.top {
  display: flex;
  place-content: center;

  height: var(--header-top-height);
  padding-block: 1rem;
  width: 100%;

  border-bottom-right-radius: var(--border-size);
  border-bottom-left-radius: var(--border-size);

  background-color: var(--color-yellow-light);
  
}

.list {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-inline: auto;
}

.item {
  font-size: 20px;
  color: var(--color-brown);

  cursor: pointer;
}

.item:hover {
  --shaking-range: 7deg;
  animation: shaking 250ms linear;
}

.bottom {
  height: var(--header-bottom-height);
}

.container {
  display: flex;
  justify-content: space-between;

  padding-block: 2rem;

  width: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--color-brown);
}

.logo {
  position: relative;
  cursor: pointer;

}

.logo:hover{
  --shaking-range: 15deg;
  
  animation: shaking 250ms linear;
}

.dogFeet {
  cursor: pointer;
}

.dogFeet:hover {
  --shaking-range: 15deg;

  animation: shaking 250ms linear;
}

@keyframes shaking {
  0% {
    transform: rotate(var(--shaking-range));
  }

  20% {
    transform: rotate((-1 * var(--shaking-range)));
  }

  40% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(calc(-1 * var(--shaking-range)));
  }

  80%{
    transform: rotate(0deg);
  }
}