:root {
    --color-yellow: #F1A106;
    --color-yellow-light: #FEBC5B;
    --color-brown: #553507;
    --color-black: #000;
    --color-white: #EDE9E9;

    --section-padding: max(1em, 25vh);
    --container-padding: clamp(1em, 3vw, 58px);
    --border-size: 20px;

    --animation-fast: cubic-bezier(0.075, 0.82, 0.165, 1);

    --header-bottom-height: 116px;
    --header-top-height: 60px;
}

html {
    overflow-x: hidden;
}

::selection {
    background-color: #ff0;
    color: var(--color-brown);
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

section {
    position: relative;
}

section:not(:nth-of-type(1)) {
    padding-top: var(--section-padding);

}

.container {
    padding-inline: var(--container-padding);
}

.col {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------ TYPOGRAPHY ----------------------------------------  */

*.white {
    color: var(--color-white);
}

h1 {
    text-transform: uppercase;
    font-size: 13.02vw;
    font-weight: 900;
}

h2 {
    font-weight: 900;
    font-size: 6.27vw;
    line-height: 90%;
    color: var(--color-yellow);
    text-transform: uppercase;
}

h3 {
    font-size: 4.37vw;
    color: var(--color-yellow);

}

h4 {
    font-size: 3.03vw;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-weight: 400;
}

a,
p {
    font-size: max(20px, 1.04vw);
    font-weight: 400;
    font-style: normal;
}

p.small,
span.small {
    font-size: 0.8em;
}

small {
    font-size: 0.6em;
    font-weight: 400;
    font-style: italic;
}

/* ------------------------------------ ANIMATING ---------------------------------------- */

@keyframes shaking {
    0% {
        transform: rotate(var(--shaking-range));
    }

    20% {
        transform: rotate((-1 * var(--shaking-range)));
    }

    40% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(calc(-1 * var(--shaking-range)));
    }

    80% {
        transform: rotate(0deg);
    }
}

.shake {
    transform-origin: 50% 50%;
}

.shake:hover {
    animation: shaking 250ms linear 50ms;

}